@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Major Mono Display', monospace;
}

body {
  --player-width: 15px;
  --player-height: 150px;
}
/*
.root {
  width: 100vw;
  height: 100vh;
} */

